@font-face {
    src: url(fonts/RINGM___.TTF);
    font-family: ring;
  }
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-family: ring;
    color: bisque;
}

body{
    background-image: url("./images/quiz_image.jpg");
    background-color: #ffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.choice-container{
    display: flex;
    margin-bottom: 2rem;
    width: 95%;
    background: radial-gradient(circle, rgba(255,227,65,1) 1%, rgba(255,36,7,1) 23%, rgba(255,124,0,1) 92%);
    font-size: 3rem;
    min-width: 80rem;
    border-radius: 100px;
    
}

.choice-container:hover {
cursor: pointer;
box-shadow: 0 0.5rem 1.4rem 0 rgba(255, 255, 0, 0.5);
transition: transform 150ms;
transform: scale(1.001);
}

.choice-prefix {
    padding: 1rem;
    color: black;
    font-weight: bold;
}

.choice-text {
    padding: 1rem;
    width: 90%;
    color: black;
    font-weight: bold;
}

.correct {
    background: linear-gradient(90deg, rgba(255,227,65,1) 50%, rgba(255,124,0,1) 75%);
}

.incorrect {
    background: linear-gradient(90deg, rgba(255,65,65,1) 50%, rgba(255,128,0,1) 75%);
}

/* heads up display */

#hud{
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgba(241, 81, 41, 0.973);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull{
    height: 100%;
    background:rgba(241, 228, 160, 0.5)
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}

