.button {
    background-color: #dbd95e; /* Green */
    border: double;
    color: rgb(192, 127, 6);
    padding: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 250px 250px;
    cursor: pointer;
    border-radius: 50%;
    position: centered;
  }
  
 